<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
    		Profile Page for<br><br>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    	<% unless @user.microposts.empty? %>
        <table class="microposts" summary="User microposts">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
      <strong>Microposts</strong> <%= @user.microposts.count %><br />
      <% if current_user?(@user) %>
      <strong><%= link_to "Edit",edit_user_path(current_user) %></strong><br />
      <% end %>
    </td>
  </tr>
</table>