<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
    		Profile Page for<br><br>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
      <% if current_user?(@user) %>
      <strong><%= link_to "Edit",edit_user_path(current_user) %></strong>
      <% end %>
    </td>
  </tr>
</table>